.title{
  text-align: center;
  font-size: 108px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(0, 0, 255, 0.5);
}
.background{

  display: block;
  width: 100%;
  height: auto;
  z-index: -1;
}
