body,html {
    height:100%;
    background-color: rgb(10, 10, 10);
    margin: 0;
  }
  h1, h2,h3,h4,h5,h6{
      color:white;
      font-family: 'Poppins', sans-serif;
  }
  .flex{
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
  }
  .column{
    height: 100%;
    flex-direction: column;
  }
  .row{
      width:100%;
      flex-direction: row;
  }
  
  .row-obj{
      padding: 1em;
  }
  a{
      text-decoration: none;
      color: rgb(72, 141, 72);
  }
  img{
      display: block;
      width: 15em;
      border-radius: 15px;
      border: rgb(32, 32, 32) 15px solid;
  }