html{
    height: 100vh;
}
.front-page{
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toolbar{
    a{
        padding: 10px;
    }
}

.name{
    color: rgb(131, 131, 255)
}

.card{
    
}